 <div >
    <div class="sidebar-heading text-center py-3">
      📱 MobilnManage
    </div>
    <div class="list-group list-group-flush">
      <a routerLink="/dashboard" class="list-group-item list-group-item-action bg-dark text-white">Dashboard</a>
      <a routerLink="/stock" class="list-group-item list-group-item-action bg-dark text-white">Stock</a>
      <a routerLink="/sales" class="list-group-item list-group-item-action bg-dark text-white">Sales</a>
      <a routerLink="/purchase" class="list-group-item list-group-item-action bg-dark text-white">Purchase</a>
      <a routerLink="/inventory" class="list-group-item list-group-item-action bg-dark text-white">Inventory</a>
      <a routerLink="/reports" class="list-group-item list-group-item-action bg-dark text-white">Reports</a>
      <a routerLink="/users" class="list-group-item list-group-item-action bg-dark text-white">Users</a>
    </div>
  </div>
