    <form class="popupModal" >
            <div class="d-flex align-items gap-3 w-100 border-bottom">
                <h3 class="flex-grow-1 d-flex align-items-center justify-content-center m-0 p-0 ps-5 w-25">{{modalTitle}}</h3>
                <app-button (buttonOutputEvent)="close()" [buttonClass]="'buttoncss '" [buttonType]="'button'" [tag]="'X'"></app-button>
            </div>
            
    <div class="col-12 p-3 mb-3 d-flex flex-column gap-3 align-items-center">
        <app-input [inputType]="'text'" class="col-12" [inputId]="'label'" [inputName]="'label'" [(inputvalue)]="label"
            [inputPlaceholder]="'Enter Label'" [requiredField]="true" [label]="'Label'" [width]="'173px'">
        </app-input>
    
        <div *ngIf="modalTitle=='Add Product category'">
            <app-input [inputType]="'text'" [inputId]="'description'" [inputName]="'description'"
                [(inputvalue)]="description" [inputPlaceholder]="'Enter Description'" [label]="'Description'">
            </app-input>
            <app-dropdown label="Category" placeholder="Select Category" [items]="categoryList" bindLabel="name"
                bindValue="id" [(value)]="selectedCategory">
            </app-dropdown>
        </div>
        <div ngx-dropzone class=" uploadImage justify-content-center" [accept]="data?.isAcceptAllDoc ? '*' : 'image/jpeg,.png,.jpg,.glb,.stl'"
            (change)="onSelect($event)">
            <h4 *ngIf="files.length == 0">uploadImage</h4>
            <div *ngIf="files.length > 0">
                <div *ngFor="let file of files" class="preview-image w-50 h-50">
                    <img [src]="file.url" alt="">
                </div>
            </div>
    
        </div>
    
    </div>

       <app-button class="mb-3" (buttonOutputEvent)="addCard()" [buttonType]="'button'" [tag]="'Save'"></app-button>
    </form>
