
 <div class="bg-color">
    <div class="sidebar-heading text-center py-3">
      <span>📱 Mobile & Management</span>
    </div>
    <div class="list-group list-group-flush bg-color border border-dark">
      <a routerLink="/dashboard" class="list-group-item list-group-item-action fs-5 link-bg">Dashboard</a>
      <a routerLink="/stock" class="list-group-item list-group-item-action fs-5 link-bg">Stock</a>
      <a routerLink="/sales" class="list-group-item list-group-item-action fs-5 link-bg">Sales</a>
      <a routerLink="/purchase" class="list-group-item list-group-item-action fs-5 link-bg">Purchase</a>
      <a routerLink="/stock/reports" class="list-group-item list-group-item-action fs-5 link-bg">Invoice</a>
      <a routerLink="/users" class="list-group-item list-group-item-action fs-5 link-bg">Users</a>
    </div>
  </div>
