.link-bg{
    background-color:#f8f9fa;
    color: rgb(29, 122, 243);

}
.link-bg:hover {
//   background-color: aliceblue;
  color: blue;

}
.link-bg-head{
  background-color: white;
  color: blue;
  font-size: 18px;
  font-weight: 400;
}