 <div >
    <div class="sidebar-heading text-center py-3">
      📱 MobilnManage
    </div>
    <div class="list-group list-group-flush">
      <a routerLink="/dashboard" class="list-group-item list-group-item-action  bg-color fs-5 text-white">Dashboard</a>
      <a routerLink="/stock" class="list-group-item list-group-item-action  bg-color fs-5 text-white">Stock</a>
      <a routerLink="/sales" class="list-group-item list-group-item-action   bg-color fs-5 text-white">Sales</a>
      <a routerLink="/purchase" class="list-group-item list-group-item-action   bg-color fs-5 text-white">Purchase</a>
      <a routerLink="/stock/reports" class="list-group-item list-group-item-action   bg-color fs-5 text-white">Invoice</a>
      <a routerLink="/users" class="list-group-item list-group-item-action   bg-color fs-5 text-white">Users</a>
    </div>
  </div>
