.plusIcon{
    display: flex;
    justify-content: center;
width: 40px;
height: 40px;
background-color: blue;
border-radius: 50%;
position: absolute;
top: 450px;
right: 35px;
z-index: 1;
box-shadow: 0 2px 5px rgba(0,0,0,0.3);
border: 2px solid white;
cursor: pointer;
 align-items: center;
  
}



