<div class="form-group d-flex gap-2 w-100">
  <label *ngIf="bindLabel" class="text-primary fw-semibold" [style.width]="width">{{bindLabel}}</label>

  <ng-select 
    class="text-primary"
    [items]="items"
    [bindLabel]="bindLabel"
    [bindValue]="bindValue"
    [searchable]="searchable"
    [clearable]="clearable"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    [disabled]="disabled"
    (open)="onOpen()"
    (close)="onClose()"
    (ngModelChange)="onChange($event)">
  </ng-select>
</div>
