<div class="card shadow-lg rounded-3 bg-white" style="width: 300px; cursor: pointer;" (click)="navigate()">
  <img [src]="image ? image : 'assets/img_icon/No_product_img.png'" alt="card image" class="card-img-top img-fluid"
    [style.height.px]="height ? height : null">

    <div class="card-body text-center">
    <h5 class="card-title mb-2">{{ title }}</h5>

    <p class="card-text text-truncate w-100 mb-1" [class.invisible]="!subtitle">
      {{ subtitle || 'Placeholder' }}
    </p>

    <p class="fw-bold text-success mb-0" [class.invisible]="!price">
      ₹{{ price || '0' }}
    </p>

    <ng-content></ng-content>
  </div>
</div>
