#wrapper {
  height:100%;
  display: flex;
  width: 100%;
}

/* Sidebar */
#sidebar-wrapper {
  width: 12%;
  transition: all 0.3s;
   background-color: rgb(105, 180, 247);

}
#sidebar-wrapper .list-group-item {
  border: none;
  padding: 12px 20px;
}
#sidebar-wrapper .list-group-item:hover {
  background: #495057;
}

/* Page Content */
#page-content-wrapper {
  width: 100%;
}

.main_content{
 height: calc(100vh - 98px);
overflow-y: hidden;
 overflow-x: hidden;
}

