#wrapper {
  height: 100%;
  display: flex;
  width: 100%;
}

#sidebar-wrapper {
  width: 250px;
  transition: all 0.3s ease;
  overflow: hidden;
  background-color: #f8f9fa;
}

#page-content-wrapper {
  flex: 1;
  transition: all 0.3s ease;
}

#wrapper.collapsed #sidebar-wrapper {
  transform: translateX(-80%); 
  width: 10%;                  
  opacity: 0.9;
  transition: all 0.3s ease;
  background:  #f8f9fa;
      border-radius: 5px;

}

#wrapper:not(.collapsed) #sidebar-wrapper {
  transform: translateX(0);
  transition: all 0.3s ease;
}

#wrapper.collapsed #page-content-wrapper {
  width: 90%;
}

.main_content {
  height: calc(100vh - 100px);
  overflow-y: hidden;
  overflow-x: hidden;
}

.navbar-expand-lg .navbar-toggler {
  display: block !important;
  background-color: rgb(131, 202, 238);
  border: none;
}

.list-group-item {
  border: none;
  padding: 12px 20px;
 color: rgb(40, 150, 240);
}
.list-group-item:hover {
  background-color: aliceblue;
  color: blue;

}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}