#wrapper {
  height: 100%;
  display: flex;
  width: 100%;
}

#sidebar-wrapper {
  width: 250px;
  transition: all 0.3s ease;
  overflow: hidden;
}

#page-content-wrapper {
  flex: 1;
  transition: all 0.3s ease;
}

#wrapper.collapsed #sidebar-wrapper {
  transform: translateX(-80%); 
  width: 10%;                  
  opacity: 0.9;
  transition: all 0.3s ease;
}

#wrapper:not(.collapsed) #sidebar-wrapper {
  transform: translateX(0);
  transition: all 0.3s ease;
}

#wrapper.collapsed #page-content-wrapper {
  width: 90%;
}

.main_content {
  height: calc(100vh - 98px);
  overflow-y: hidden;
  overflow-x: hidden;
}

.navbar-expand-lg .navbar-toggler {
  display: block !important;
}

.list-group-item {
  border: none;
  padding: 12px 20px;
}
.list-group-item:hover {
  background: #495057;
}
