<div class="sales_main">
    <div class="position-relative">
        <div *ngIf="!showflag" class="gap-4 justify-content-center row">
            <div>
                <div class="col-6">
                <app-search (searchValue)="onSearch($event)"></app-search>
            </div>
            </div>
            <hr>
            <div *ngFor="let tab of tabs" class=" d-flex gap-2 card_h-250px p-0 col-8 col-xxl-2 col-sm-6 col-xl-2  col-md-4 col-lg-2 mb-4">
                <div class="card  shadow-lg rounded-3 bg-white w-100 h-100"
                    [routerLink]="['stockCategory']" (click)="show()">
                    <img [src]='tab.icon_img ' class="h-75 border border-bottom w-100">
                    <h2 class=" text-center text-primary">{{tab.stockcategory}}</h2>
                </div>
            </div>
            <div class="plusIcon" (click)="addCard()">
                  <img src="assets/icons/plus.svg" alt="plusIcon">
            </div>
        </div>
    </div>


    <div *ngIf="showflag" class="border route_space rounded p-4 pt-0 bg-white w-100 position-relative">
        <div class="back-container">
            <button (click)="back()" class="btn btn-primary  ">Back</button>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>