<div class="sales_main">
    <div class="position-relative">
        <div *ngIf="!showflag" class="gap-2 row">
            <div *ngFor="let tab of tabs" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 "
                style="display: flex; gap:4.5rem">
                <div class="card shadow-lg rounded-3 bg-white " style="width: 400px;height: 373px; cursor: pointer;"
                    [routerLink]="tab.path" (click)="show()">
                    <img [src]='tab.img_path' class="h-75 w-100">
                    <h2 class=" text-center text-primary">{{ tab.label }}</h2>
                </div>
            </div>
            <div class="plusIcon" (click)="addCard()">
                  <img src="assets/icons/plus.svg" alt="plusIcon">
            </div>
        </div>
    </div>


    <div *ngIf="showflag" class="border route_space rounded p-4 bg-white w-100  position-relative">
        <div class="back-container">
            <button (click)="back()" class="btn btn-primary  ">Back</button>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>